<% if user_signed_in? %>
  <div class="row">
    <% @tracks.each do |track| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag track.art_work.url, width: 200, class:'image'), track %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
