<div class="comment">
  <div class="comment_content">
    <p class="coment-content"><%= comment.content %></p>
    <p class="coment-time"><strong><%=time_ago_in_words (comment.created_at) %> Ago </p>
    <p class="coment-user"><strong><%= comment.user %></p>
  </div>
  <% if user_signed_in? %>
    <p><%= link_to 'Delete', [comment.track, comment], method: :delete %></p>
  <% end %>
</div>