<div class="row">
  <% if user_signed_in? %>
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag user.avatar.url, width: 200, class:'image'), user %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
    


